body {
    background-color: rgb(27, 28, 26);
    color: #d3a046;
    
  }

body, html {
    height: 90%;
    margin-top:1%;
   
  }
  
  .bg {
    /* The image used */
    background-image: url(images/gardenglitch.jpg);
  
    /* Full height */
    height: 70%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 .ae {
    margin-top: 0%; 
    margin-left: 150px;
    
 }



  p {
    margin-top: -12%;
    margin-bottom: 25%;
    margin-left: 45%;
    line-height: 1.5em;
  }

  

  

  

